mat-card {
  margin-top: 20%;
  display: flex;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  flex-direction: column;
  align-items: flex-end;
}
mat-form-field {
  width: 100%;
}
.country-container {
  display: flex;
  justify-content: space-between;
}

@media only screen and (min-width: 601px) {
  mat-card {
    width: 580px;
  }
}
