<mat-card>
  <mat-form-field>
    <mat-label>Select a country</mat-label>
    <mat-select #countrySelect>
      <mat-select-search
        [list]="countries"
        [searchProperties]="['dialCode', 'name']"
        (filtered)="filteredCountries = $event">
      </mat-select-search>
      <mat-select-trigger>{{countrySelect.value}}</mat-select-trigger>
      <mat-option *ngFor="let country of filteredCountries" [value]="country.name">
        <div class="country-container">
          <p>{{country.name}}</p><p>{{country.dialCode}}</p>
        </div>
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-card>
