mat-card {
  margin-top: 20%;
  display: flex;
  width: 40%;
  margin-right: auto;
  margin-left: auto;
}
mat-form-field {
  width: 100%;
}
.country-container {
  display: flex;
  justify-content: space-between;
}
